/* --------------------------------- */
/* USER HISTORY */
.user-content__orders {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.order__cons {
  position: relative;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: #f8f8f8;
}
.order__cons-item {
  text-align: center;
}
.order__cons-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: calc(100% - 20px);
  background-color: var(--border-color);
}
.order__cons-item p:first-child {
  font-size: 2.4rem;
  font-weight: 700;
}
.order__cons-item p:last-child {
  font-size: 1.2rem;
  font-weight: 500;
}

/* --------------------------------- */
/* ORDER ITEMS */
.order__items {
  display: flex;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}
.order__item--left {
  width: 110px;
  padding: 10px;
}
.order__item--left img {
  width: 100%;
}

/* --------------------------------- */
/* ORDER ITEM RIGHT */
.order__item--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
.order__title {
  font-weight: 500;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
}
.order__title p:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 640px;
}
.order__title p:last-child {
  font-size: 1.3rem;
  color: #888;
}
.order__status {
  display: flex;
}
.order__status p {
  font-size: 1.2rem;
}
.order__status--active {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: #f8f8f8;
  width: fit-content;
  font-weight: 500;
  font-size: 1.2rem;
}

.order__total {
  display: flex;
  justify-content: space-between;
}
.order__total p {
  font-size: 1.6rem;
  font-weight: 600;
  color: red;
}

.order__total--btn-item {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  padding: 5px 10px;
  font-size: 1.333rem;
  border-radius: 4px;
  background-color: var(--white-color);
  border: 1px solid var(--blue-color);
  color: var(--blue-color) !important;
}
/* --------------------------------- */
/* ORDER DETAIL */
.order-detail {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* BACK BUTTON */
.order-detail__back-btn {
  align-self: flex-start;
  font-family: inherit;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 550;
  margin-bottom: 24px;
  background-color: transparent;
  border: none;
}

.order-detail__back-btn:hover {
  text-decoration: underline;
}

/* CONFIRM BLOCK */
.confirm__block {
  width: 100%;
  margin-bottom: 24px;
}

.confirm__block h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black-color);
  text-align: left;
  margin-bottom: 8px;
}

.confirm__box {
  padding: 16px 24px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: var(--white-color);
}

/* TEXT CUSTOM */
.text--custom {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 14px;
  font-size: 1.5rem;
}

.text--custom p {
  color: var(--gray-color);
}

.text--custom span {
  color: var(--black-color);
}

/* ORDER DETAILS */
.order-details__content-item:nth-child(2),
.order-details__content-item:nth-child(7) {
  border-top: 1px solid var(--border-color);
}

.order-details__content-item:last-child p {
  color: var(--black-color);
  font-weight: 700;
}

.order-details__content-item:last-child span {
  color: red;
  font-weight: 700;
}

/* ORDER TABLE */
.confirm__table {
  width: 100%;
}

.confirm__table h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black-color);
  text-align: left;
}

.confirm__table h3 {
  font-size: 1.6rem;
  color: var(--blue-color);
  font-weight: 700;
  opacity: 0.9;
  margin-top: 8px;
}

.confirm__table .shipped-by {
  font-size: 1.2rem;
  color: var(--gray-color);
  margin-bottom: 8px;
}

.confirm__table table {
  width: 100%;
  border-collapse: collapse;
}

.confirm__table th,
.confirm__table td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 1.2rem;
}

.confirm__table th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 3px 0;
}

.confirm__table td {
  background-color: var(--white-color);
}

.confirm__table th:nth-child(1) {
  width: 40%;
}

.confirm__table th:nth-child(3),
.confirm__table th:nth-child(4),
.confirm__table th:nth-child(5) {
  width: 11%;
}

.confirm__table td:nth-child(3),
.confirm__table td:nth-child(4),
.confirm__table td:nth-child(5) {
  text-align: center;
}

/* ITEM INFO */
.item-info {
  display: flex;
  align-items: center;
}

.item-info img {
  margin-right: 10px;
  width: 50px;
  height: auto;
}

.item-info div {
  display: flex;
  flex-direction: column;
}

.item-info p {
  margin: 4px 0;
}

/* MARGIN UTILITY */
.margin-bottom {
  margin-bottom: 24px;
}

/* --------------------------------- */
/* ORDER STATUS */
.order__status--active {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.order__status--active[data-status="Processing"] {
  border: 2px solid var(--border-color);
}

.order__status--active[data-status="Picking"] {
  background-color: rgba(224, 231, 255, 0.5);
  border: 2px solid #e0e7ff;
}
.order__status--active[data-status="Packing"] {
  background-color: rgba(255, 255, 0, 0.1);
  border: 2px solid #fcf097;
}

.order__status--active[data-status="Shipping"] {
  background-color: rgba(255, 165, 0, 0.1);
  border: 2px solid #ffe7bc;
}

.order__status--active[data-status="Delivered"] {
  background-color: rgba(209, 250, 229, 0.5);
  border: 2px solid #d1fae5;
}

.order__status--active[data-status="Completed"] {
  background-color: rgba(57, 255, 20, 0.2);
  border: 2px solid #c8f7c0;
}

.order__status--active[data-status="Cancelled"] {
  background-color: rgba(254, 226, 226, 0.5);
  border: 2px solid #fee2e2;
}

/* --------------------------------- */
/* CANCEL ORDER BUTTON */
.order-detail__cancel-btn {
  font-weight: 550;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
  border: none;
  padding: 0 38px;
}

.order-detail__cancel-btn:hover {
  color: red;
  text-decoration: underline;
}

/* --------------------------------- */
/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 400px;
}

.modal__content h3 {
  font-size: 2rem;
  margin-bottom: 16px;
  color: var(--black-color);
}

.modal__content p {
  font-size: 1.4rem;
  margin-bottom: 24px;
  color: var(--gray-color);
}

.modal__actions {
  display: flex;
  justify-content: right;
  gap: 10px;
  margin-top: 20px;
}

.modal__btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal__btn--confirm {
  background-color: #dc3545;
  color: white;
  font-weight: 550;
}

.modal__btn:hover {
  opacity: 0.9;
}
