.user__container {
    display: flex;
    margin: 0 100px;
}
.user__sidebar {
  background-color: var(--white-color);
  width: 300px;
  padding: 10px 20px 20px 20px;
  height: fit-content;
  border-right: 1px solid var(--border-color);
}
.user__content {
    flex: 1;
    background: var(--white-color);
}

.user-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-nav__title {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 10px 0;
    margin-bottom: 20px;
}

.user-nav__item {
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: 550;
}

.user-nav__link {
    display: block;
    padding: 15px 10px;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid transparent;
}

.user-nav__link:hover{
  background-color: #F8F8F8;
}
.user-nav__link--active {
  border: 2px solid #0935DB;
  background-color:rgba(9, 53, 219, 0.05);
  color: #0935DB;
}

/* --------------------------------- */
/* USER CONTENT */

.user__content {
  padding: 20px;
}

.user-content .user-content__title{
  font-size: 2.7rem;
}
.load-content{
  border: 0.5px solid red;
}

/* --------------------------------- */
/* USER HISTORY */
