/* General Styles */
.sub__page {
  width: 100%;
  background-color: var(--background-color);
}
.sub__location{
  display: flex;
  font-size: 1.4rem;
  padding: 10px 30px;
  margin-bottom: 15px;
}
.sub__location a{
  color: var(--gray-color);
  text-decoration: underline;
  &:hover{
    color: var(--link-color);
  } 
}
.sub__location i{
  color: var(--gray-color);
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.sub__location p{
  font-weight: bold;
}
.sub__banner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  font-size: 0;
}
.sub__banner img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.sub__banner--2{
  margin-bottom: 20px;
}
.navbar__sub-page{
  background-color: var(--white-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 15px 32px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.filter{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
}
.filter__item{
  cursor: pointer;
  color: var(--gray-color);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  &:hover{
    background-color: var(--background-color);
  }
}
.filter__item .fa-angle-down,.fa-xmark{
  margin-left: 5px;
  font-size: 1.2rem;
}
.filter__item > span{
  color: var(--blue-color); 
  border-radius: 50%; 
  width: 20px; 
  display: flex;  
  justify-content: center; 
  margin: 0 -5px 0 5px;
  font-weight: bold;
  text-decoration: underline;
}
.filter__item:first-child:hover{
  background-color: var(--white-color) !important;
}


.filter__style{
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
  &:hover{
    background-color: var(--blue-color);
    color: var(--white-color);
  }
}
.filter__item:last-child{
  border: 1px solid transparent;
  color: var(--black-color);
  &:hover{
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
  }
}
.navbar__sub-page select{
  cursor: pointer;
  padding: 0 10px;
  outline: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--gray-color);
  height: 40px;
  width: 200px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  &:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}
.sort__view{
  font-weight: bold;
  font-size: 1.3rem;
  height: 40px;
  display: flex;
  align-items: center;
}

.navbar__sub-page .svg-inline--fa{
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 8px;
  padding: 10px;
  border: 1px solid var(--blue-color);
  width: 40px;
  height: 40px;
  &:hover{
    opacity: 0.9;
  }
}
.navbar__sub-page .bx-menu-alt-right{
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;
  font-size: 1.9rem;
  border: 1px solid transparent;
  &:hover{
    border: 1px solid var(--border-color);
  }
}
/* Product Grid */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  padding: 15px 32px 32px 32px;
  justify-content: center;
}

.product {
  flex: 1 1 calc(25% - 20px);
  max-width: 380px;
  height: 233px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 15px;
  background-color: var(--white-color);
  display: flex; 
}

.product:hover {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.product > a {
  display: flex;
  width: 100%;
}

.product__img { 
  width: 80%;
  height: 100%;
}
.product__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__info {
  width: 100%;
  padding: 5px 20px;
}

.product__name {
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 10px;
}

.product__set,
.product__rarity,
.product__card-number,
.product__listing {
  color: var(--gray-color);
  font-size: 1.3rem;
}

.product__listing {
  margin: 10px 0 5px 0;
}

.product__price {
  font-weight: 800;
  font-size: 2.3rem;
  margin-bottom: 15px;
}

.product__market-price {
  font-size: 1.3rem;
  font-weight: 600;
}

/* ------------------------------------------------- */
/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination a {
  color: var(--black-color);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 8px;
  margin: 0 5px;
  text-decoration: none;
  border: 1px solid transparent;
}

.pagination a:hover {
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
}

.pagination a.active {
  background-color: var(--blue-color);
  color: var(--white-color);
  border-color: var(--blue-color);
}
.pagination a.active:hover{
  opacity: 0.9;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar__sub-page{
    display: none;
  }
  .sub__location{
    display: none;
  }
}
@media (max-width: 1200px) {
  .product {
    flex: 1 1 calc(33.33% - 20px); /* 3 cột */
  }
}

@media (max-width: 900px) {
  .product {
    flex: 1 1 calc(50% - 20px); /* 2 cột */
  }
}

@media (max-width: 600px) {
  .product {
    flex: 1 1 100%; /* 1 cột */
  }
}

@media (max-width: 1300px) {
  .sub__banner {
    padding: 0 30px;
  }
}

