/* CONTAINER */
.container {
  background-color: #F8F8F8;
}

/* ----------------------------------------------------- */
/* CHECKOUT */
.checkout {
  width: 1100px;
  margin: 0 auto;
  padding: 32px 16px;
  gap: 24px;
}

/* ----------------------------------------------------- */
/* PROGRESS BAR */
.progress-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
  font-size: 1.8rem;
  color: #5E616C;
  background-color: var(--white-color);
  padding: 8px 8px 5px 8px;
  font-size: 1.3rem;
}

.progress-bar p {
  border-bottom: 3px solid transparent;
  padding-bottom: 3px;
}

.progress-bar .progress-bar-active {
  border-bottom: 3px solid var(--blue-color);
}

.progress-bar i {
  margin: 0 16px;
}

.checkout h1 {
  color: #595959;
  font-size: 2.6rem;
  font-weight: normal;
  margin-bottom: 24px;
}

/* ----------------------------------------------------- */
/* CHECKOUT CONTAINER */
.checkout__container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.checkout__form {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: var(--white-color);
  padding: 32px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px - 24px);
}

.checkout__form h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.checkout__form h3 {
  font-size: 1.6rem;
  color: var(--blue-color);
  font-weight: 700;
  opacity: 0.9;
  border-top: 1px solid var(--border-color);
  padding-top: 8px;
  margin-top: -8px;
}

.checkout__form h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.shipped-by {
  font-size: 1.2rem;
  color: var(--gray-color);
  margin-bottom: 8px;
}

.checkout__form-row {
  display: flex;
  width: 100%;
}

.checkout__form-row p {
  width: 170px;
}

.checkout__form-row input {
  margin-left: 8px;
  padding: 3px 2px 3px 5px;
  width: 70%;
  border-radius: 0 !important;
  border: 1px solid #b3b3b3;
}

.checkout__form-row input:focus {
  border: 1px solid var(--blue-color);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.checkout__form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkout__form button {
  cursor: pointer;
  margin-top: 24px;
  padding: 9px 20px;
  width: 188px;
  border: none;
  font-size: 1.6rem;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-weight: 550;
}

.checkout__form button:hover {
  opacity: 0.9;
}

/* ----------------------------------------------------- */
/* ORDER TABLE */
.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 24px;
}

.order-table th, .order-table td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 1.2rem;
}

.order-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 3px 0;
}

.order-table th:nth-child(1) {
  width: 40%;
}

.order-table th:nth-child(3),
.order-table th:nth-child(4),
.order-table th:nth-child(5) {
  width: 11%;
}

.order-table td:nth-child(3),
.order-table td:nth-child(4),
.order-table td:nth-child(5) {
  text-align: center;
}

.order-table h4 {
  margin: 0;
  font-size: 1.2rem;
}

.order-table p {
  margin: 4px 0;
}

.item-info {
  display: flex;
  align-items: center;
}

.item-info img {
  margin-right: 10px;
  width: 50px;
  height: auto;
}

.item-info div {
  display: flex;
  flex-direction: column;
}

/* ----------------------------------------------------- */
/* SHIPPING ADDRESS */
.shipping-address {
  border-radius: 5px;
  display: flex;
  gap: 80px;
  font-size: 1.2rem;
  color: var(--gray-color);
  margin-bottom: 16px;
}

/* ----------------------------------------------------- */
/* PAYMENT OPTIONS */
.payment-options {
  margin-bottom: 25px;
}
.payment-options img {
  width: 100px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.payment-option {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.check {
  position: relative;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: #4285f4;
}

#paypal-cbx:checked + .check svg {
  stroke: #4285f4;
}

#paypal-cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#paypal-cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

/* ----------------------------------------------------- */
/* CHECKOUT SUMMARY */
.checkout__summary {
  border: 2px solid var(--blue-color);
  background-color: var(--white-color);
  height: fit-content;
  width: 300px;
  padding: 16px;
  border-radius: 4px;
}

.checkout__summary h2 {
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 2px solid var(--border-color);
}

.checkout__summary-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 1.2rem;
}

.checkout__summary-item:nth-child(2),
.checkout__summary-item:nth-child(3) {
  font-weight: 700;
}

.checkout__summary-item:nth-child(3) {
  padding-bottom: 16px;
  border-bottom: 2px solid var(--border-color);
}

.checkout__summary-item:nth-child(5) {
  padding-bottom: 16px;
  border-bottom: 2px solid var(--border-color);
}

.checkout__summary-item:nth-child(6) {
  padding-top: 16px;
  font-size: 1.6rem;
  font-weight: 700;
}

.submit__container {
  margin-top: 24px;
}

.edit__cart {
  background-color: var(--gray-color) !important;

}

/* ----------------------------------------------------- */
/* ORDER CONFIRM */
.order-confirmed {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-confirmed h1 {
  margin-bottom: 24px;
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--black-color);
}
.processed {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
  background-color: seashell;
  padding: 24px;
  width: 700px;
  margin: 0 auto;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  height: 100px;
  margin-bottom: 24px;
}
.processed__text {
  line-height: 1.8;
}

.processed__text p {
  font-size: 1.8rem;
  font-weight: 700;
}

.processed__text span {
  font-size: 1.2rem;
  color: var(--gray-color);
}

.processed img {
  width: 180px;
}

/* ----------------------------------------------------- */
.margin-bottom {
  margin-bottom: 24px;
}
/* CUSTOM TEXT */
.text--custom {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 14px;
  font-size: 1.5rem;
}
.text--custom p {
  color: var(--gray-color);
}
.text--custom span {
  color: var(--black-color);
}

/* CONFIRM BLOCK */
.confirm__block {
  width: 700px;
}
.confirm__block h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black-color);
  text-align: left;
  margin-bottom: 8px;
}

/* CONFIRM BOX */
.confirm__box {
  padding: 16px 24px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: var(--white-color);
}
/* ----------------------------------------------------- */
/* ORDER DETAILS */
.order-details__content-item:nth-child(2),
.order-details__content-item:nth-child(4) {
  border-top: 1px solid var(--border-color);
}

.order-details__content-item:last-child p {
  color: var(--black-color);
  font-weight: 700;
}
.order-details__content-item:last-child span {
  color: red;
  font-weight: 700;
}

/* ----------------------------------------------------- */
/* ORDER ITEMS */
.confirm__table {
  width: 700px;
}

.confirm__table h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black-color);
  text-align: left;
  margin-bottom: 8px;
}
.confirm__table table {
  box-shadow: none;
  border-radius: 0;
}
.confirm__table img {
  width: 50px;
}

.confirm__table table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.confirm__table th, .confirm__table td {
  border: 0.3px solid rgba(66, 66, 66, 0.1);
  padding: 8px;
  font-size: 1.2rem;
}
.confirm__table th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 3px 0;
}

.confirm__table td {
  padding: 8px;
}
.confirm__table th {
  padding: 3px 0;
}
.confirm__table th:nth-child(1) {
  width: 20%;
}

/* ----------------------------------------------------- */
/* CONTINUE SHOPPING */
.confirm__btn {
  background-color: var(--blue-color);
  color: var(--white-color) !important;
  padding: 9px 20px;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 550;
  height: 40px;
  width: 181px;
}
.confirm__btn:hover {
  opacity: 0.9;
}
