body{
  display: flex;
}
.login__img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 100vh;
  padding: 0 20px;
}
.login__img--signin {
  background-color: var(--blue-color);
}
.login__img--signup {
  background-color: var(--light-green-color);
}
.login__img a{
  width: 160px;
  margin-top: 20px;
}
.login__img img{
  width: 100%;
}
.login__img__svg{
  width: 100%;
}

/* ----------------------------------------------------------------------------- */
/* LOGIN FORM */
.login__container{
  width: calc(100% - 500px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__form{
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.login__form h1{
  font-size: 2.4rem;
  margin-bottom: 24px;
}
.login__form form{
  display: flex;
  flex-direction: column;
}
/* ----------------------------------------------------------------------------- */
/* FORM INPUT */
.form__input{
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.form__input:first-child{
  margin-bottom: 20px;
}
.form__input label{
  font-size: 1.33rem;
  font-weight: 600;
  color: #5E636C;
  margin-bottom: 8px;
}
.form__input input{
  padding: 13px;
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(222, 227, 231);
  border-radius: 6px;
  transition: all 0.1s ease-in-out;
}
.form__input input:hover,
.form__input input:focus {
  background-color: var(--white-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.form__input input:focus{
  border: 1px solid var(--blue-color);
}
.password__input {
  position: relative;
}
.password__input input {
  width: 100%;
}

.password__toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
/* ----------------------------------------------------------------------------- */
/* FORGOT PASSWORD */
.forgot__password{
  color: var(--blue-color);
  font-size: 1.2rem;
  align-self: flex-end;
}
.login__btn{
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 16px 0 24px 0;
  border: none;
  line-height: 28px;
}
.login__btn--signin{
  background-color: var(--blue-color);
  color: var(--white-color);
}
.login__btn--signup{
  background-color: #34D599;
  color: var(--black-color);
}
.login__btn:hover{
  opacity: 0.95;
}

/* ----------------------------------------------------------------------------- */
/* LOGIN CAPTCHA */
.login__captcha{
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #767676;
}
.login__captcha a{
  text-decoration: underline;
  color: #0f0f0f;
}
/* ----------------------------------------------------------------------------- */
/* LOGIN SECTION */
.login__section{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.login__section a{
  color: var(--blue-color);
}

/* ----------------------------------------------------------------------------- */
/* BACK TO LOGIN */
.login__form h1{
  display: flex;
  align-items: center;
  gap: 10px;
}
.login__form h1 i{
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 2px solid var(--black-color);
}

.back__login{
  color: #0835DB !important;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}

/* ----------------------------------------------------------------------------- */
/* MESSAGE NOTI */
.message, #error-message{
  position: absolute;
  top: 74px;
  right: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: red;
}
.message--success{
  color: green;
}

/* ----------------------------------------------------------------------------- */
/* RESPONSIVE */
@media (max-width: 1024px) {
  .login__img{
    display: none;
  }
  .login__container{
    width: 100%;
    height: 100vh;
  }
}
/* ----------------------------------------------------------------------------- */
/* PASSWORD REQUIREMENTS */
.password-requirements {
    margin-top: 8px;
    font-size: 1rem;
  }
  
  .requirement {
    margin-right: 5px;
    color: #666;
}

.requirement.valid {
    color: green;
}

