/* General Styles */
.sub__page {
  width: 100%;
  background-color: #F8F8F8;
}
.sub__banner{
  width: 1300px;
  font-size: 0;
  margin: 0 auto;
}
.sub__banner img{
  width: 100%;
  border-radius: 8px;
}
/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 32px;
}

.product {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 15px;
  background-color: white;
  transition: all 0.1s linear;
  &:hover{
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  }
}
.product >a{
  display: flex;
}
.product p{
  word-wrap: none;
}
.product img {
  width: 40%;
  height: auto;
}

.product__info {
  width: 100%;
  padding: 5px 20px;
}
.product__name{
  font-weight: 800;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.product__set,.product__rarity,.product__card-number,.product__listing{
  color: #5E636C;
  font-size: 1.3rem;
}
.product__listing{
  margin: 10px 0 5px 0;
}
.product__price{
font-weight: 800;
font-size: 2.3rem;
margin-bottom: 15px;
}
.product__market-price{
  font-size: 1.3rem;
  font-weight: 600;
}
/* Card Details */
.card-details {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-details h1 {
  text-align: center;
  margin-bottom: 20px;
}

.card-image {
  text-align: center;
  margin-bottom: 20px;
}

.card-image img {
  max-width: 100%;
  height: auto;
}

.card-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.card-info p {
  margin: 0;
}

.card-details h2 {
  margin-top: 20px;
}

/* Media Queries */
@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

